button.button__login {
  margin-top: $m-size;
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 15px;
  border-radius: 15px;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 8px 8px 16px #bfbfbf, -8px -8px 16px #ffffff;
  transition: 0.2s;
}

button.button__login:hover {
  border-radius: 15px;
  box-shadow: 8px 8px 16px #8a8a8a, -8px -8px 16px #ffffff;
  transform: scale(1.05);
  transition: 0.3s;
}

button.button__login:active {
  transform: scale(0.9);
  border-radius: 15px;
  box-shadow: 8px 8px 16px #8a8a8a, -8px -8px 16px #ffffff;
}

.button {
  background-color: black;
  color: white;
  font-size: 1.3rem;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 100px;
  transition: 0.18s;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: rgb(60, 60, 60);
}

.button:focus {
  transform: scale(0.9);
  border-radius: 15px;
  box-shadow: 8px 8px 16px #494949;
}

.button__right {
  text-align: right;
}

.button__secondary {
  @extend .button;

  background-color: white;
  color: black;
  border: black 2px solid;
  padding: 7px;
}

.button__secondary:hover {
  background-color: rgb(179, 179, 179);
}
